name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

env:
  LATEST_FLAVOR: 18.04
  DRY_RUN: ${{ github.ref != 'refs/heads/master' }}
  # https://github.com/chalk/supports-color/issues/106
  FORCE_COLOR: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test: [poetry, pipenv, golang, mix, node, php, ruby]

    timeout-minutes: 10

    env:
      DOCKER_BUILDKIT: 1
      IMAGE: buildpack

    steps:
      - uses: actions/checkout@v2

      - name: build
        run: docker build -t ${IMAGE} .

      - name: test
        run: docker build --build-arg IMAGE ./test/${{ matrix.test }}

  release:
    needs: [test]
    runs-on: ubuntu-latest

    timeout-minutes: 15

    strategy:
      matrix:
        tag: [erlang, golang, java, node, php, python, ruby, rust, latest]
        flavor: [18.04, 20.04]

    env:
      IMAGE: ${{ matrix.tag }}
      TAG_FLAVOR: ${{ matrix.tag }}-${{ matrix.flavor }}
      TAG: ${{ matrix.tag }}
      FLAVOR: ${{ matrix.flavor }}

    steps:

      - name: docker-config
        uses: renovatebot/internal-tools@v0
        with:
          command: docker-config

      - uses: actions/checkout@v2

      - name: Docker registry login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Fix latest tag
        if: ${{ env.TAG == 'latest' }}
        run: |
          echo "::set-env name=TAG_FLAVOR::${{ env.FLAVOR }}"

      - name: Build and Publish (with flavor)
        uses: renovatebot/internal-tools@v0
        with:
          command: "docker-builder"
          build-args: IMAGE,FLAVOR
          last-only: true
          tag-suffix: ${{ env.TAG_FLAVOR }}
          major-minor: false
          dry-run: ${{ env.DRY_RUN }}


      - name: Build and Publish (no flavor)
        if: ${{ env.FLAVOR == env.LATEST_FLAVOR }}
        uses: renovatebot/internal-tools@v0
        with:
          command: "docker-builder"
          build-args: IMAGE,FLAVOR
          last-only: true
          tag-suffix:  ${{ env.TAG }}
          major-minor: false
          dry-run: ${{ env.DRY_RUN }}
